.footer {
    background-color: #EAF2FD;
}

.footer-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    padding: 64px 0;
}

.footer-section .footer-left{
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.map-site {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin: 0 65px;
}

.map-site-item {
    cursor: pointer;
}

.map-site-item:hover {
    transform: scale(1.03);
}

.footer form {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}

.form-input {
    width: 560px;
    padding-left: 10px;
}

.form-input-name {
    height: 56px;
    padding-top: 20px;
}

.form-input-mesg {
    height: 82px;
}

.label-form {
    position: relative;
    top: 25px;
    left: 10px;
}

.label-form-name {
    color: #A2A2A2;
    font-size: 12px;
    line-height: 16px;
}

.label-form-mesg {
    color: #A2A2A2;
    font-size: 12px;
    line-height: 16px;
}


.btn-form {
    margin-top: 15px;
}

.baseboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.baseboard a {
    text-decoration: none;
}

.github-img {
    width: 17px;
}

.footer-section.footer-container {
    margin-top: 0;
}