.header-login {
    justify-content: flex-start;
}

.header-login .header-input {
    margin-left: 30px;
}

.login {
    background-color: #F5F5F5;
    height: 90vh;
}

.form-login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login h4 {
    font-size: 18px;
    line-height: 21px;
}

/* .form-login p {
    left: -220px;
} */

.form-input {
    border-bottom: 1px solid #ccc;
    display: block;
    margin-top: 5px;
}

.btn-login {
    margin-top: 24px;
    width: 560px;
}

