@media (min-width: 1510px) {
    .container {
        width: 1136px;
    }
}

@media (max-width: 1380px) {
     .form-input,
     .btn-login {
        width: 480px;
    }
}

@media (max-width: 1272px) {
    .container {
        width: 92%;
    }
    
    .map-site {        
        margin:0 55px;
    }

    .footer div form .form-input {
        width: 520px;
    }
}

@media (max-width: 1055px) {
     .form-input,
     .btn-login {
        width: 434px;
    }

    .header-search {
        margin-right: 50px;
    }
}

@media (max-width: 970px) {
    .map-site {        
        margin:0 20px;
    }
}

@media (max-width: 890px) {
    .map-site {        
        margin-right: 45px;
        margin-left: 0;
    }
    .header-input {
        width: 272px;
    }
}

@media (max-width: 775px) {
    .header {
        justify-content: space-around;
    }

    .header-input {        
        display: none;
    }

    .header-login {
        justify-content: space-between;
    }

    .header-search {
        margin-right: 0;
        order: 1;
    }

    .header-input-img {
        position: inherit;
    }

    .hero-title {
        font-size: 42px;
    }


    .hero-subtitle {
        font-size: 18px;
    }

    .btn-login {
        width: 182px;
    }

    .footer-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer-section .footer-left {
        flex-direction: column;
        gap: 30px;

    }

    .map-site {
        margin: 0;
        align-items: center;
    }

}


@media (max-width: 520px) {
    .hero-title {
        font-size: 38px;
    }

    .footer div form .form-input,
    .form-input {
        width: 350px;        
    }
}

@media (max-width: 460px) {
       
    .header .btn {
        width: 100px;
    }
    
    .hero-title {
        font-size: 28px;
        line-height: 26px;
    }
    
    .hero-subtitle {
        font-size: 15px;
        line-height: 16px;
    }
    
    .footer div form .form-input,
    .form-input {
        width: 328px;        
    }
}

