@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1136px;
    margin: 0 auto;
}

.header {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.controler {
    margin-right: 5px;
}

.header-search {
    margin-left: 32px;
}

.header-input {
    border: none;
    border-radius: 20px;
    background-color: #F5F5F5;
    width: 390px;
    height: 40px;
    outline: 0;
    padding: 0 15px;
}

.header-input:focus {
    border: 2px solid #2A7AE4;
}

.header-input-img {
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
    left: -35px;
}

.btn {
    width: 182px;
    height: 51px;
    cursor: pointer;
}

.btn-login {
    color: #2A7AE4;
    border: 2px solid #2A7AE4;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
}

.hero {
    /* background: url('/assets/img/hero.png'); */
    height: 372px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url('/assets/img/hero.png');
    background-position: center;
    display: flex;
    align-items: end;
}

.hero-write {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 38px;
}

.hero-title {
    font-size: 52px;
    line-height: 61px;
}

.hero-subtitle {
    font-size: 22px;
    line-height: 26px;
}

.btn-consoles {
    color: #FFF;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #2A7AE4;
}

.products-titles {
    margin-top: 50px;
    margin-bottom: 16px;
}

.products-titles {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.products-titles h2 {
    font-size: 32px;
    line-height: 38px;
}

.products-titles h4,
.product-detail {
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.product-row {
    display: flex;
    justify-content: space-between;
}

.product-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
}

.product-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 0;
}